.row-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  padding: 10px 20px;
}
// Start ----------------- col-logo-img -------------

.row-header .col-logo-img img {
  width: 210px;
  height: 39px;
  background-color: transparent;
}
// End ----------------- col-logo-img -------------

// Start ----------------- Search suggestions dropdown -------------
// Search bar
.searchInputForm {
  position: relative;
}
// Search bar
.form-control:focus {
  border: 1px solid #f8c146;
  box-shadow: 0 0 0 0.2rem rgba(248, 193, 70, 0.25);
  outline: none;
}

//Search suggestions main
#suggestionBox {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  background-color: #000;
  max-height: 400px;
  overflow-y: scroll;
  scrollbar-width: none;
  display: none;
  z-index: 10;
}

//Search suggestions item
.suggestion-item {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 10px;
  margin: 4px;
  background-color: #0047476b;
  border-radius: 10px;
  overflow: auto;
}
//Search suggestions item:hover
.suggestion-item {
  background-color: transparent;
  background-image: linear-gradient(to left, #b92b27, #321575);
  background-size: 200% 100%;
  background-position: 0% 0;
  transition: background-position 0.3s ease-in-out;
}

.suggestion-item:hover {
  background-position: 100% 0;
  cursor: pointer;
}
.suggestion-item.active {
  background-image: none;
  background: black;
  font-weight: 900;
}

//Search suggestions img
.suggestion-img {
  width: clamp(40px, 10%, 80px);
  height: auto;
  border-radius: 6px;
  object-fit: cover;
}
// End ---------------------------- Search suggestions dropdown -------------

// Start ---------------------------- .col-user and .col-dropdown-------------
.col-user .user-avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 5px;
  object-fit: cover;
  flex-shrink: 0;
}

.col-user .dropdown-menu-custom {
  background: #000;
}

.dropdown-menu-custom .dropdown-item {
  color: white;
  font-weight: 500;
}
.dropdown-item:hover {
  background: linear-gradient(to left, #b92b27, #321575);
}
// End ---------------------------- .col-user and .col-dropdown-------------

@media (max-width: 1023px) {
  .row-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
  }
  .col-search {
    flex: 0 1 100%;
    order: 3;
  }
}

@media (max-width: 470px) {
  .row-header {
    display: flex;
    flex-wrap: wrap;
    padding-inline: 1px;
  }
  #user-name {
    display: none;
  }
  .col-logo-img {
    flex: 0 1 75%;
    display: flex;
    justify-content: center;
  }
  .col-user {
    flex: 1 0 1%;
    display: flex;
    justify-content: end;
  }
  .col-search {
    flex: 1 0 78%;
    order: 3;
  }
}
