// Start -------------------- profile
.container-profile {
  width: calc(100% - 15%);
  color: #000;
  min-height: 100vh;
  padding: 0;
  overflow: hidden;
  border-radius: 0.5rem;
}

.row-profile {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  align-items: center;
  padding: 20px;
  gap: 15px;
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
}

.profile:hover .avatar-overlay {
  opacity: 1;
}

.profile {
  position: relative;
  max-width: 250px;
  width: 100%;
  height: 250px;
}

.profile img {
  position: absolute;
  max-width: 250px;
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.avatar-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.5s ease;
  cursor: pointer;
  border-radius: 50%;
}

.media {
  display: flex;
  justify-content: start;
  align-items: center;
  margin: 0;
  padding: 20px;
}

.media-user {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 24px;
}

.media-favorite {
  margin: 0;
  font-size: 20px;
  font-weight: 900;
  background: #ffffff;
}

// Start -------------------- list-favorites
.row-list-favorites {
  width: 100%;
  max-height: 400px;
  margin: 0 auto 5px;
  padding: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  justify-content: center;
  align-items: center;
  gap: 50px;
  overflow: auto;
  background: linear-gradient(
    207deg,
    rgba(36, 0, 34, 1) 0%,
    rgba(118, 9, 121, 1) 30%,
    rgba(255, 136, 0, 1) 70%
  );
}
.row-list-favorites::-webkit-scrollbar {
  width: 4px; /* Ẩn thanh cuộn dọc */
  background-color: darkcyan;
}
.row-list-favorites::-webkit-scrollbar-track {
  background-color: transparent; /* Màu nền của track (vùng chứa thanh cuộn) */
}
.row-list-favorites::-webkit-scrollbar-thumb {
  background-color: rgb(0, 255, 255); /* Màu của thanh cuộn dọc */
  border-radius: 10px; /* Bo tròn góc của thanh cuộn */
}
// End -------------------- list-favorites

@media (max-width: 425px) {
  .media-user > * {
    font-size: 16px;
  }
  .media-favorite {
    font-size: 16px;
  }
}
// End -------------------- profile
