@use "resetView";
@use "mainView";
@use "header";
@use "btn-imgView";
@use "headerNavView";
@use "cardMovieView";
@use "proFileView";
@use "_rowWeeklyView.scss";
@use "_movieView.scss";
@use "_stored-movies.scss";

// Start ----------------- Login + Register ----------------------------------
.col-login-register {
  background-color: #08253f;
  border-radius: 30px;
  border: 2px solid #008eab;
  box-shadow: 10px 10px 10px rgba(255, 255, 255, 0.1);
}
// End ----------------- Login + Register ----------------------------------
