@use "layouts/mainView";
@use "partials/header";
@use "partials/headerNavView";
@use "profile/proFileView";
@use "layouts/rowWeeklyView";
@use "movies/movieView";
@use "movies/stored-movies";
@use "utils/btn-imgView";
@use "utils/filterView";
@use "utils/cardMovieView.scss";

// Start ----------------- Login + Register ----------------------------------
.col-login-register {
  background-color: #08253f;
  border-radius: 30px;
  border: 2px solid #008eab;
  box-shadow: 10px 10px 10px rgba(255, 255, 255, 0.1);
}
// End ----------------- Login + Register ----------------------------------
