<!-- Footer -->
<footer class="container-footer text-center bg-dark text-white py-4 mt-auto">
    <a class="text-white text-decoration-none" href="/">
        <p class="mb-1">© Copyright ® 2025 Tiên Vực 3D.</p>
    </a>
    <ul class="list-inline">
        <li class="list-inline-item"><a href="/" class="text-white">Trang chủ</a></li>
        <li class="list-inline-item"><a href="#" class="text-white">Liên hệ</a></li>
        <li class="list-inline-item"><a href="#" class="text-white">Về chúng tôi</a></li>
    </ul>
</footer>