<header class="container container__header-nav">
    <div class="header__container">
        <div class="header__toggle">
            <button class="header__toggle-btn" aria-label="Toggle navigation">
                <span class="header__toggle-icon"></span>
            </button>
        </div>

        <nav class="header__nav" id="navbarNav">
            <ul class="header__nav-list">
                <li class="header__nav-item">
                    <a href="/" class="header__nav-link"><i class="bi bi-house"></i> Trang chủ</a>
                </li>
                <li class="header__nav-item">
                    <a href="/filter/category" class="header__nav-link"><i class="bi bi-bookmarks"></i> Thể loại</a>
                </li>
                <li class="header__nav-item">
                    <a href="/filter/status" class="header__nav-link"><i class="bi bi-arrow-repeat"></i> Đang chiếu</a>
                </li>
                <li class="header__nav-item">
                    <a href="/filter/schedule" class="header__nav-link"><i class="bi bi-calendar2-check"></i> Lịch
                        chiếu</a>
                </li>
                <li class="header__nav-item">
                    <a href="#" class="header__nav-link"><i class="bi bi-award"></i> Top 10 BXH</a>
                </li>
            </ul>
        </nav>
    </div>
</header>