<header class="container container__header-nav">
    <div class="header__container">
        <div class="header__toggle">
            <button class="header__toggle-btn" aria-label="Toggle navigation">
                <span class="header__toggle-icon"></span>
            </button>
        </div>

        <nav class="header__nav" id="navbarNav">
            <ul class="header__nav-list">
                <li class="header__nav-item">
                    <i class="bi bi-house"></i>
                    <a href="/" class="header__nav-link">Trang chủ</a>
                </li>
                <li class="header__nav-item">
                    <a href="#" class="header__nav-link">Thể loại</a>
                </li>
                <li class="header__nav-item">
                    <a href="#" class="header__nav-link">Phim lẻ</a>
                </li>
                <li class="header__nav-item">
                    <i class="bi bi-arrow-repeat"></i>
                    <a href="#" class="header__nav-link">Đang chiếu</a>
                </li>
                <li class="header__nav-item">
                    <i class="bi bi-calendar2-check"></i>
                    <a href="#" class="header__nav-link">Lịch chiếu</a>
                </li>
                <li class="header__nav-item">
                    <i class="bi bi-award"></i>
                    <a href="#" class="header__nav-link">Top 10 BXH</a>
                </li>
            </ul>
        </nav>
    </div>
</header>